.boton-fireBrick {
  @include boton($fireBrick, inline-block);
  &:hover {
    background-color: darken($fireBrick, 10);
    color: $blanco;
  }
}
.boton-fireBrick-block {
    @include boton($fireBrick, block);
  &:hover {
    background-color: darken($fireBrick, 10);
    color: $blanco;
  }

}
