@use 'base/variables' as v;
.seccion {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.contenido-centrado {
    max-width: 80rem;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}