.panel-admin {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.barra-lateral {
    background-color: $negro;
    color: $letras;
    a {
        margin-top: 3rem;
        padding: 1rem 0;
        text-decoration: none;
        color: $letras;
        font-size: 2rem;
        text-align: center;
    }
    p {
        color: $letras;
        text-align: center;
        padding: 1rem 0;
    }
}
.listado-crud {
    margin-left: 5rem;
    a {
        text-align: left;
        font-size: 2rem;
        margin-top: 0;

        &:hover {
            color: $letras;
           text-decoration: underline;
        }
    }

}

.sidebar-footer {
    a {
        font-size: 2rem;
    }
    .ventana {
        padding: 1rem;
    }
}