@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-destacado {
    padding: 5rem 0;
    @include m.tablet{
        @include m.grid(2, 5rem);
        width: 80%;
    }
    @include m.desktop{
        width: 70%;
    }
        
    }
    

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;


    @include m.tablet{
        margin-top: 0;
        
    }
    h2 {
        margin-bottom: 2rem;
         color: v.$fireBrick;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1rem;
    }


}