.site-footer {
    background-color: $negro;
    padding: 1rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    p {
        margin: 0;
        text-align: center;
        color: $blanco;
        font-size: 1.2rem;
    }
}