.contenido-historia {
  @include tablet {
    @include grid(2, 2rem);
    @include tablet{
      align-items: start;
    }
    @include desktopXL{
      align-items: center;
    }
    
  }
}

.texto-historia {
  margin-top: 2rem;
  @include tablet{
    margin-top: 0;
  }
  h2 {
    color: $fireBrick;
  }
}
.musico {
    p {
        font-size: 1.6rem;
    }
}
