.contenido-historia {
  @include tablet {
    @include grid(2, 2rem);
    align-items: center;
  }
}

.texto-historia {
  margin-top: 2rem;
  h2 {
    color: $fireBrick;
  }
}
.musico {
    p {
        font-size: 1.6rem;
    }
}
